-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: hotel_system
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `category_markets`
--

DROP TABLE IF EXISTS `category_markets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `category_markets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category_markets`
--

LOCK TABLES `category_markets` WRITE;
/*!40000 ALTER TABLE `category_markets` DISABLE KEYS */;
/*!40000 ALTER TABLE `category_markets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `country` varchar(100) DEFAULT 'Indonesia',
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guest_registrations`
--

DROP TABLE IF EXISTS `guest_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guest_registrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `registration_no` varchar(20) DEFAULT NULL,
  `category_market_id` int(11) DEFAULT NULL,
  `market_segment` varchar(100) DEFAULT NULL,
  `member_id` varchar(50) DEFAULT NULL,
  `transaction_by` varchar(100) DEFAULT NULL,
  `id_card_type` varchar(10) DEFAULT NULL,
  `id_card_number` varchar(50) DEFAULT NULL,
  `guest_name` varchar(200) DEFAULT NULL,
  `guest_title` varchar(10) DEFAULT NULL,
  `mobile_phone` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `nationality_id` int(11) DEFAULT NULL,
  `city_id` int(11) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `arrival_date` datetime DEFAULT NULL,
  `arrival_time` varchar(10) DEFAULT NULL,
  `nights` int(11) DEFAULT NULL,
  `departure_date` datetime DEFAULT NULL,
  `guest_type` varchar(50) DEFAULT NULL,
  `guest_count_male` int(11) DEFAULT NULL,
  `guest_count_female` int(11) DEFAULT NULL,
  `guest_count_child` int(11) DEFAULT NULL,
  `extra_bed_nights` int(11) DEFAULT NULL,
  `extra_bed_qty` int(11) DEFAULT NULL,
  `room_number` varchar(20) DEFAULT NULL,
  `transaction_status` varchar(50) DEFAULT NULL,
  `payment_method_id` int(11) DEFAULT NULL,
  `registration_type_id` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `payment_amount` decimal(12,2) DEFAULT NULL,
  `discount` decimal(12,2) DEFAULT NULL,
  `payment_diskon` decimal(12,2) DEFAULT NULL,
  `deposit` decimal(12,2) DEFAULT NULL,
  `balance` decimal(12,2) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `hotel_name` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `registration_no` (`registration_no`),
  KEY `ix_guest_registrations_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guest_registrations`
--

LOCK TABLES `guest_registrations` WRITE;
/*!40000 ALTER TABLE `guest_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `guest_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guests`
--

DROP TABLE IF EXISTS `guests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `guest_name` varchar(100) NOT NULL,
  `id_card_type` enum('KTP','Passport','SIM','Other') DEFAULT 'KTP',
  `id_card_number` varchar(50) DEFAULT NULL,
  `mobile_phone` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `nationality_id` int(11) DEFAULT NULL,
  `nationality` varchar(50) DEFAULT 'INDONESIA',
  `city_id` int(11) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `nationality_id` (`nationality_id`),
  KEY `city_id` (`city_id`),
  CONSTRAINT `guests_ibfk_1` FOREIGN KEY (`nationality_id`) REFERENCES `nationalities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `guests_ibfk_2` FOREIGN KEY (`city_id`) REFERENCES `cities` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guests`
--

LOCK TABLES `guests` WRITE;
/*!40000 ALTER TABLE `guests` DISABLE KEYS */;
/*!40000 ALTER TABLE `guests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotel_registrations`
--

DROP TABLE IF EXISTS `hotel_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hotel_registrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `registration_no` varchar(20) NOT NULL,
  `category_market_id` int(11) DEFAULT NULL,
  `category_market` varchar(50) DEFAULT 'Walkin',
  `market_segment_id` int(11) DEFAULT NULL,
  `market_segment` varchar(50) DEFAULT 'Normal',
  `member_id` varchar(50) DEFAULT NULL,
  `transaction_by` varchar(100) DEFAULT NULL,
  `id_card_type` enum('KTP','Passport','SIM','Other') DEFAULT 'KTP',
  `id_card_number` varchar(50) DEFAULT NULL,
  `guest_name` varchar(100) NOT NULL,
  `guest_title` enum('MR','MRS','MS','DR','PROF') DEFAULT 'MR',
  `mobile_phone` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `nationality_id` int(11) DEFAULT NULL,
  `nationality` varchar(50) DEFAULT 'INDONESIA',
  `city_id` int(11) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `arrival_date` datetime DEFAULT NULL,
  `departure_date` datetime DEFAULT NULL,
  `nights` int(11) DEFAULT 1,
  `guest_type` enum('Normal','VIP','Corporate','Group') DEFAULT 'Normal',
  `guest_count_male` int(11) DEFAULT 1,
  `guest_count_female` int(11) DEFAULT 0,
  `guest_count_child` int(11) DEFAULT 0,
  `extra_bed_nights` int(11) DEFAULT 0,
  `extra_bed_qty` int(11) DEFAULT 0,
  `room_number` varchar(20) DEFAULT NULL,
  `transaction_status` enum('Registration','Check-in','Check-out','Cancelled') DEFAULT 'Registration',
  `payment_method_id` int(11) DEFAULT NULL,
  `payment_method` varchar(100) DEFAULT NULL,
  `registration_type_id` int(11) DEFAULT NULL,
  `registration_type` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `payment_amount` decimal(15,2) DEFAULT 0.00,
  `discount` decimal(15,2) DEFAULT 0.00,
  `payment_diskon` decimal(15,2) DEFAULT 0.00,
  `deposit` decimal(15,2) DEFAULT 0.00,
  `balance` decimal(15,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `hotel_name` varchar(100) DEFAULT 'New Idola Hotel',
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `registration_no` (`registration_no`),
  KEY `category_market_id` (`category_market_id`),
  KEY `market_segment_id` (`market_segment_id`),
  KEY `nationality_id` (`nationality_id`),
  KEY `city_id` (`city_id`),
  KEY `payment_method_id` (`payment_method_id`),
  KEY `registration_type_id` (`registration_type_id`),
  KEY `idx_registrations_arrival` (`arrival_date`),
  KEY `idx_registrations_departure` (`departure_date`),
  KEY `idx_registrations_status` (`transaction_status`),
  KEY `idx_registrations_guest` (`guest_name`),
  CONSTRAINT `hotel_registrations_ibfk_1` FOREIGN KEY (`category_market_id`) REFERENCES `category_markets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_registrations_ibfk_2` FOREIGN KEY (`market_segment_id`) REFERENCES `market_segments` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_registrations_ibfk_3` FOREIGN KEY (`nationality_id`) REFERENCES `nationalities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_registrations_ibfk_4` FOREIGN KEY (`city_id`) REFERENCES `cities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_registrations_ibfk_5` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_registrations_ibfk_6` FOREIGN KEY (`registration_type_id`) REFERENCES `registration_types` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotel_registrations`
--

LOCK TABLES `hotel_registrations` WRITE;
/*!40000 ALTER TABLE `hotel_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `hotel_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotel_reservations`
--

DROP TABLE IF EXISTS `hotel_reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hotel_reservations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reservation_no` varchar(20) NOT NULL,
  `category_market_id` int(11) DEFAULT NULL,
  `category_market` varchar(50) DEFAULT 'Walkin',
  `market_segment_id` int(11) DEFAULT NULL,
  `market_segment` varchar(50) DEFAULT 'Normal',
  `member_id` varchar(50) DEFAULT NULL,
  `transaction_by` varchar(100) NOT NULL,
  `transaction_status` enum('Pending','Confirmed','Cancelled','Checked-in','Checked-out') DEFAULT 'Pending',
  `id_card_type` enum('KTP','SIM','PASSPORT','OTHERS') DEFAULT 'KTP',
  `id_card_number` varchar(50) DEFAULT NULL,
  `guest_title` enum('MR','MRS','MS','DR','PROF') DEFAULT 'MR',
  `guest_name` varchar(100) NOT NULL,
  `mobile_phone` varchar(20) NOT NULL,
  `address` text DEFAULT NULL,
  `nationality_id` int(11) DEFAULT NULL,
  `nationality` varchar(50) DEFAULT 'INDONESIA',
  `city_id` int(11) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `arrival_date` date NOT NULL,
  `departure_date` date NOT NULL,
  `nights` int(11) DEFAULT 1,
  `guest_type` enum('Normal','VIP','Corporate') DEFAULT 'Normal',
  `guest_male` int(11) DEFAULT 1,
  `guest_female` int(11) DEFAULT 0,
  `guest_child` int(11) DEFAULT 0,
  `extra_bed_nights` int(11) DEFAULT 0,
  `extra_bed_qty` int(11) DEFAULT 0,
  `room_number` varchar(20) DEFAULT NULL,
  `payment_method_id` int(11) DEFAULT NULL,
  `payment_method` varchar(100) DEFAULT 'Debit BCA 446',
  `registration_type_id` int(11) DEFAULT NULL,
  `registration_type` varchar(100) DEFAULT 'Reservasi',
  `payment_amount` decimal(10,2) DEFAULT 0.00,
  `discount` decimal(10,2) DEFAULT 0.00,
  `payment_diskon` decimal(10,2) DEFAULT 0.00,
  `deposit` decimal(10,2) DEFAULT 0.00,
  `balance` decimal(10,2) DEFAULT 0.00,
  `note` text DEFAULT NULL,
  `hotel_name` varchar(100) DEFAULT 'New Idola Hotel',
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `reservation_no` (`reservation_no`),
  KEY `category_market_id` (`category_market_id`),
  KEY `market_segment_id` (`market_segment_id`),
  KEY `payment_method_id` (`payment_method_id`),
  KEY `registration_type_id` (`registration_type_id`),
  KEY `nationality_id` (`nationality_id`),
  KEY `city_id` (`city_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_reservations_arrival` (`arrival_date`),
  KEY `idx_reservations_departure` (`departure_date`),
  KEY `idx_reservations_status` (`transaction_status`),
  KEY `idx_reservations_guest` (`guest_name`),
  CONSTRAINT `hotel_reservations_ibfk_1` FOREIGN KEY (`category_market_id`) REFERENCES `category_markets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_reservations_ibfk_2` FOREIGN KEY (`market_segment_id`) REFERENCES `market_segments` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_reservations_ibfk_3` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_reservations_ibfk_4` FOREIGN KEY (`registration_type_id`) REFERENCES `registration_types` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_reservations_ibfk_5` FOREIGN KEY (`nationality_id`) REFERENCES `nationalities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_reservations_ibfk_6` FOREIGN KEY (`city_id`) REFERENCES `cities` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hotel_reservations_ibfk_7` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotel_reservations`
--

LOCK TABLES `hotel_reservations` WRITE;
/*!40000 ALTER TABLE `hotel_reservations` DISABLE KEYS */;
/*!40000 ALTER TABLE `hotel_reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `market_segments`
--

DROP TABLE IF EXISTS `market_segments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `market_segments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `market_segments`
--

LOCK TABLES `market_segments` WRITE;
/*!40000 ALTER TABLE `market_segments` DISABLE KEYS */;
/*!40000 ALTER TABLE `market_segments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_meja`
--

DROP TABLE IF EXISTS `master_meja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_meja` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_cabang` varchar(100) NOT NULL DEFAULT 'HOTEL NEW IDOLA',
  `no_meja` varchar(10) NOT NULL,
  `lantai` int(11) NOT NULL DEFAULT 1,
  `kursi` int(11) NOT NULL DEFAULT 4,
  `status` enum('Kosong','Terisi','Maintenance') DEFAULT 'Kosong',
  `hit` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_meja` (`no_meja`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_meja`
--

LOCK TABLES `master_meja` WRITE;
/*!40000 ALTER TABLE `master_meja` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_meja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nationalities`
--

DROP TABLE IF EXISTS `nationalities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nationalities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `code` varchar(10) DEFAULT NULL,
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nationalities`
--

LOCK TABLES `nationalities` WRITE;
/*!40000 ALTER TABLE `nationalities` DISABLE KEYS */;
/*!40000 ALTER TABLE `nationalities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_methods`
--

DROP TABLE IF EXISTS `payment_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_methods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `type` enum('cash','card','transfer','digital','other') DEFAULT 'other',
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_methods`
--

LOCK TABLES `payment_methods` WRITE;
/*!40000 ALTER TABLE `payment_methods` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_types`
--

DROP TABLE IF EXISTS `registration_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registration_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_types`
--

LOCK TABLES `registration_types` WRITE;
/*!40000 ALTER TABLE `registration_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `registration_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_types`
--

DROP TABLE IF EXISTS `reservation_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservation_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_types`
--

LOCK TABLES `reservation_types` WRITE;
/*!40000 ALTER TABLE `reservation_types` DISABLE KEYS */;
INSERT INTO `reservation_types` VALUES (1,'Standard Reservation',1,'2025-09-04 03:19:42','2025-09-04 03:19:42'),(2,'Guaranteed',1,'2025-09-04 03:19:42','2025-09-04 03:19:42'),(3,'Corporate',1,'2025-09-04 03:19:42','2025-09-04 03:19:42');
/*!40000 ALTER TABLE `reservation_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `room_number` varchar(20) NOT NULL,
  `room_type` enum('Standard','Deluxe','Suite','Presidential') NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `status` enum('available','occupied','maintenance') DEFAULT 'available',
  `description` text DEFAULT NULL,
  `amenities` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `room_number` (`room_number`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `category` enum('food','laundry','spa','transport','other') DEFAULT 'other',
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('admin','manager','staff') DEFAULT 'staff',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2b$12$/wR6h100IGqj1E6xX.2HhO7RJdEu.8F4bFmFqBtLpVnjYPNc7JAeK','admin@evagrouphotel.com','admin','2025-09-16 10:49:52','2025-09-18 06:27:46'),(2,'manager','$2b$12$kf0DJM9HVKXMcHBwMqeabetDuOleD2skB3UfbzOkTuNMRF9OztIvy','manager@evagrouphotel.com','manager','2025-09-16 10:49:52','2025-09-18 06:27:46'),(3,'staff','$2b$12$f.DggEJSgBF21Ld0pdDdS.bNTgxJSNH59lbhR3Se5zkAdFrFeyCrG','staff@evagrouphotel.com','staff','2025-09-16 10:49:52','2025-09-18 06:27:47');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-22 15:27:36
