fastapi
uvicorn
gunicorn
sqlalchemy
pymysql
mysql-connector-python
slowapi
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-multipart
apscheduler
email-validator
requests
midtransclient
groq