<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /website/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /website/index.html [L]
</IfModule>